<template>
  <div class="content-wrapper">
      <div class="content-header">
        <Breadcrumb />
        <!-- Main content -->
        <slot>

        </slot>
        <!-- End main content -->
    </div>
  </div>
</template>

<script>
import Breadcrumb from '../components/cores/Breadcrumb.vue';
export default {
    name: 'ContentWrapper',
    components: {
        Breadcrumb
    }
}
</script>

<style lang="scss" scoped>
.content-wrapper {
    min-height: calc(100vh - calc(3.5rem + 1px));
}
</style>
