<template>
    <div class="wrapper">
        <!-- top nav -->
        <top-nav/>
        <!-- side bar -->
        <side-bar>
            <Menu />
        </side-bar>
        <!-- content-wrapper -->
        <content-wrapper>
            <fade-transition :duration="200" mode="out-in">
                <router-view></router-view>
            </fade-transition>
        </content-wrapper>
    </div>
</template>

<script>
import Menu from './Menu';
import TopNav from './TopNav';
import SideBar from './SideBar';
import ContentWrapper from './ContentWrapper';
import { FadeTransition } from 'vue2-transitions'
export default {
    name: 'MainLayout',
    components: {
        TopNav,
        SideBar,
        Menu,
        ContentWrapper,
        FadeTransition
    }
}
</script>
