<template>
    <header>
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link open-mobile-menu" data-widget="pushmenu" href="#" @click="toggleMobileNav" v-click-outside="clickOutSide">
                        <i class="fa fa-bars" v-if="mobile"></i>
                        <slide-x-left-transition :delay="200" mode="out-in">
                            <div class="mobile-nav" v-show="mobileNav" >
                                <side-bar>
                                    <Menu/>
                                </side-bar>
                            </div>
                        </slide-x-left-transition>
                    </a>
                </li>
            </ul>

            <div class="d-flex" style="margin-left: auto; gap: 5px; align-items: center;">
                <FlagLanguage class="language"/>
                <div v-if="mobile" class="profile" ref="profile" v-click-outside="closeProfileMenu"  @click="toggleProfileMenu">
                    <span>Test</span>
                    <fade-transition :duration="200" mode="out-in">
                        <menu-profile v-if="profileMenu" @close-profile="profileMenu = false"/>
                    </fade-transition>
                </div>
            </div>

            <!-- SEARCH FORM -->
            <!-- <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                </div>
            </div>
            </form> -->
        </nav>
        <!-- /.navbar -->
    </header>
</template>

<script>
import { SlideXLeftTransition, FadeTransition } from 'vue2-transitions'
import MenuProfile from '../components/MenuProfile.vue';
import FlagLanguage from '../components/FlagLanguage.vue';
import SideBar from './SideBar';
import Menu from './Menu';
export default {
    name: 'TopNav',
    components: {
        SlideXLeftTransition,
        FadeTransition,
        FlagLanguage,
        MenuProfile,
        SideBar,
        Menu
    },
    data() {
        return {
            profileMenu: null,
            mobileNav: null,
            mobile: null,
        }
    },
    created() {
        window.addEventListener("resize", this.checkScreen);
        this.checkScreen();
    },
    methods: {
        toggleProfileMenu() {
            this.profileMenu = !this.profileMenu
        },
        checkScreen() {
            this.windowWidth = window.innerWidth;
            if (this.windowWidth <= 750) {
                this.mobile = true;
                return;
            }
            this.mobile = false;
            this.mobileNav = false;
            return;
        },

        toggleMobileNav() {
            this.mobileNav = !this.mobileNav;
        },
        clickOutSide() {
            this.mobileNav = false;
        },
        closeProfileMenu() {
            this.profileMenu = false;
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '../styles/top-nav.scss';
</style>
