<template>
    <b-card no-body
        :header="$t('user.label_create_new_user')"
        header-bg-variant="primary"
        >
        <form>
            <b-card-body>
                <b-row class="justify-content-center mb-3">
                    <b-col lg="2" md="3" class="d-flex align-items-center">
                        <label for="fullName" class="m-0">Full name</label>
                    </b-col>
                    <b-col lg="5" md="3">
                        <b-form-input v-model="form.name" placeholder="Enter full name" id="fullName"></b-form-input>
                        <div v-show="error && validateFail.name" class="text-danger">{{ validateFail.name }}</div>
                    </b-col>
                </b-row>
                <b-row class="justify-content-center mb-3">
                    <b-col lg="2" md="3" class="d-flex align-items-center">
                        <label for="email" class="m-0">Email</label>
                    </b-col>
                    <b-col lg="5" md="3">
                        <b-form-input v-model="form.email" placeholder="Enter email" id="email" type="email"></b-form-input>
                        <div v-show="error && validateFail.email" class="text-danger">{{ validateFail.email }}</div>
                    </b-col>
                </b-row>
                <b-row class="justify-content-center mb-3">
                    <b-col lg="2" md="3" class="d-flex align-items-center">
                        <label for="password" class="m-0">Password</label>
                    </b-col>
                    <b-col lg="5" md="3">
                        <b-form-input v-model="form.password" placeholder="Enter full name" id="password" type="password"></b-form-input>
                        <div v-show="error && validateFail.password" class="text-danger">{{ validateFail.password }}</div>
                    </b-col>
                </b-row>
                <b-row class="justify-content-center mb-3">
                    <b-col lg="2" md="3" class="d-flex align-items-center">
                        <label for="role" class="m-0">Role</label>
                    </b-col>
                    <b-col lg="5" md="3">
                        <b-form-select v-model="form.role" id="role">
                            <b-form-select-option :value="null">{{ $t('panel.label_please_choose') }}</b-form-select-option>
                            <b-form-select-option :value="1">Admin</b-form-select-option>
                            <b-form-select-option :value="0">Agent</b-form-select-option>
                        </b-form-select>
                         <div v-show="error && validateFail.role" class="text-danger">{{ validateFail.role }}</div>
                    </b-col>
                </b-row>
            </b-card-body>
            <b-card-body>
                <b-row>
                    <b-col cols="4">
                        <router-link :to="goBack">
                            <b-button variant="secondary">{{ $t('panel.label_go_back') }}</b-button>
                        </router-link>
                    </b-col>
                    <b-col cols="4" class="text-center">
                        <b-button type="button" variant="primary" v-b-modal.modalConfirm>{{ $t('panel.label_register') }}</b-button>
                    </b-col>
                    <b-col cols="4"></b-col>
                </b-row>
            </b-card-body>
            <!-- Modal -->
            <core-modal-confirm
                ref="confirmModal"
                @ok="handleOk">
            </core-modal-confirm>
        </form>
    </b-card>
</template>

<script>
import UserService from '../../services/user.service';
import CoreModalConfirm from '../../components/cores/ModalConfirm.vue';

export default {
    name: 'CreateUser',
    components: {
        CoreModalConfirm
    },
    computed: {
        goBack() {
            return window.goBackSearchingRoute('SearchUser');
        }
    },
    data() {
        return {
            form: {
                name: '',
                email: '',
                password: '',
                role: null
            },
            select: null,
            options: [{ id: 1, text: "Hello" }, { id: 2, text: "World" }],
            error: null,
            validateFail: {}
        }
    },
    methods: {

        async handleOk() {
            this.error = false;
            this.validateFail = {};
            try {
                await UserService.create(this.form);
                // go back to search list
                this.$router.push(window.goBackSearchingRoute('SearchUser'));

            } catch (err) {
                if (err.validateFail) {
                    this.error = true;
                    this.validateFail = err.data;
                }
            }
        }
    }
}
</script>
