<template>
    <section class="content">
        <div class="container-fluid">
            <fade-transition :duration="200" mode="out-in">
                <div class="d-block">
                    <router-view></router-view>
                </div>
            </fade-transition>
        </div>
    </section>
</template>

<script>
import { FadeTransition } from 'vue2-transitions'
export default {
    name: 'UserViewLayout',
    components: {
        FadeTransition
    }
}
</script>
