<template>
  <b-card no-body
        :header="$t('user.label_create_new_user')"
        header-bg-variant="primary"
        >
        <form>
            <b-card-body>
                <b-row class="justify-content-center mb-3">
                    <b-col lg="2" md="3" class="d-flex align-items-center">
                        <label for="name" class="m-0">{{ $t('category.name') }}</label><span class="text-danger">*</span>
                    </b-col>
                    <b-col lg="5" md="3">
                        <b-form-input
                            v-model="form.name"
                            placeholder="Enter name"
                            id="name"
                            v-bind:class="{ 'is-invalid': validateFail.name && error}"></b-form-input>
                        <div v-show="error && validateFail.name" class="text-danger">{{ validateFail.name }}</div>
                    </b-col>
                </b-row>
                <b-row class="justify-content-center mb-3">
                    <b-col lg="2" md="3" class="d-flex align-items-center">
                        <label for="description" class="m-0">{{ $t('category.description') }}</label><span class="text-danger">*</span>
                    </b-col>
                    <b-col lg="5" md="3">
                        <b-form-input
                            v-model="form.description"
                            placeholder="Enter description"
                            id="description"
                            type="text"
                            v-bind:class="{ 'is-invalid': validateFail.description && error}">
                            </b-form-input>
                        <div v-show="error && validateFail.description" class="text-danger">{{ validateFail.description }}</div>
                    </b-col>
                </b-row>
            </b-card-body>
            <b-card-body>
                <b-row>
                    <b-col cols="4">
                        <router-link :to="goBack">
                            <b-button variant="secondary">{{ $t('panel.label_go_back') }}</b-button>
                        </router-link>
                    </b-col>
                    <b-col cols="4" class="text-center">
                        <b-button type="button" variant="primary" v-b-modal.modalConfirm>{{ $t('panel.label_register') }}</b-button>
                    </b-col>
                    <b-col cols="4"></b-col>
                </b-row>
            </b-card-body>
            <!-- Modal -->
            <core-modal-confirm
                ref="confirmModal"
                @ok="handleOk">
            </core-modal-confirm>
        </form>
    </b-card>
</template>

<script>
import categoryService from '../../services/category.service';
import CoreModalConfirm from '../../components/cores/ModalConfirm.vue';

export default {
    name: 'EditUser',
    components: {
        CoreModalConfirm
    },
    computed: {
        goBack() {
            return window.goBackSearchingRoute('SearchCatgory');
        }
    },
    data() {
        return {
            form: {
                name: '',
                description: '',
            },
            error: null,
            validateFail: {}
        }
    },

    methods: {

        async handleOk() {
            this.error = false;
            this.validateFail = {};
            try {
                await categoryService.create(this.form);
                // refresh
                this.$router.push({
                    name: 'SearchCategory'
                })
            } catch (err) {
                if (err.validateFail) {
                    this.error = true;
                    this.validateFail = err.data;
                }
            }
        }
    }
}
</script>

<style>

</style>
