<template>
   <b-row>
        <b-col cols="12">
            <!-- form search -->
            <b-card
                :header="$t('panel.label_search')"
                header-bg-variant="primary">
                <b-form @submit="onSubmit" @reset="onReset">
                    <b-row class="justify-content-center mb-3">
                        <b-col cols="2" class="d-flex align-items-center">
                            <label for="name-input" class="m-0">{{ $t("category.name") }}: </label>
                        </b-col>
                        <b-col cols="4">
                            <b-form-input id="name-input" v-model="form.name" type="search" ></b-form-input>
                        </b-col>

                        <b-col cols="2" class="d-flex align-items-center">
                            <label for="email-input" class="m-0">{{ $t("category.description") }}: </label>
                        </b-col>
                        <b-col cols="4">
                            <b-form-input id="email-input" v-model="form.description" type="search"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row class="justify-content-center">
                        <b-col cols="4"></b-col>
                        <b-col cols="4" class="d-flex justify-content-center">
                            <b-button type="submit" variant="primary" class="mr-2">{{ $t("panel.label_search") }}</b-button>
                            <b-button type="reset" variant="danger" class="ml-2">{{ $t("panel.label_reset") }}</b-button>
                        </b-col>
                        <b-col cols="4" class="text-right">
                            <router-link :to="{ name: 'CreateCategory' }">
                                <b-button type="submit" variant="secondary" class="mr-2">{{ $t("panel.label_create") }}</b-button>
                            </router-link>
                        </b-col>
                    </b-row>
                </b-form>
            </b-card>

            <!-- result searching -->
           <b-card
                class="mt-2"
                header="List User"
                header-bg-variant="primary"
                no-body>
                <b-card-body>
                    <b-skeleton-table
                        v-if="loading"
                        :rows="5"
                        :columns="5"
                        :table-props="{ bordered: true, striped: true }"
                        ></b-skeleton-table>
                    <b-table v-else hover bordered :items="listItems" :fields="fields" show-empty :empty-text="$t('panel.label_no_data')">
                        <template #head(action)="data">
                            <span class="d-flex justify-content-center " style="gap: 1em;">
                                {{ data.label }}
                            </span>
                        </template>

                        <template #cell(index)="data">
                            {{ data.index + 1 }}
                        </template>
                        <template #cell(action)="data">
                            <div class="d-flex justify-content-center" style="gap: 5px">
                                <router-link :to="{ name: 'EditCategory', params: { id: data.item.id }} ">
                                    <b-button variant="primary">{{ $t('panel.label_edit') }}</b-button>
                                </router-link>
                                <b-button variant="danger" @click="removeItem(data.item.id)" v-b-modal.modalConfirm>{{ $t('panel.label_remove') }}</b-button>
                            </div>
                        </template>

                        <template #empty="scope">
                            <span class="text-center d-block">{{ scope.emptyText }}</span>
                        </template>
                    </b-table>
                </b-card-body>
                <b-card-text>
                    <div class="mt-3" v-if="listItems.length">
                        <b-pagination
                            v-model="page"
                            :total-rows="total"
                            :per-page="perPage"
                            @change="changePage"
                            align="center"></b-pagination>
                    </div>
                </b-card-text>
                <!-- Modal -->
                <core-modal-confirm
                    ref="confirmModal"
                    remove
                    @ok="handleOk">
                </core-modal-confirm>
            </b-card>
        </b-col>
    </b-row>
</template>

<script>
import moment from 'moment'
import searchingMixin from '../../mixins/search-global.mixin';
import categoryService from '../../services/category.service';
import CoreModalConfirm from '../../components/cores/ModalConfirm.vue';

export default {
    name: 'SearchCategoryPage',
    mixins: [searchingMixin],
    components: {
        CoreModalConfirm
    },

    data() {
        return {
            form: {  // always required when use searchingMixins
                description: '',
                name: '',
            },
            currentId: null,
            fields: [
                'index',
                'name',
                'description',
                'created_at',
                'action',
            ],
            listItems: [],
            loading: false,
        }
    },
    created() {
        this.initQuerySearch();
    },
    methods: {
        async searchList() {
            try {
                this.loading = true;
                let response = await categoryService.search({
                    name: this.form.name,
                    description: this.form.description,
                    page: this.page
                });
                let { data, current_page, per_page, total } = response;
                this.listItems = data.map((item, index) => ({...item, index: index + 1, created_at: moment(item.created_at).format('YYYY/MM/DD HH:mm:ss')}))

                // define in mixin to resuse
                this.page = current_page;
                this.total = total;
                this.perPage = per_page;

                // stop loading
                this.loading = false;
            } catch (err) {
                console.log(err)
            }
        },
        removeItem(id) {
            this.currentId = id;
        },
        initQuerySearch() {
            if (!_.isEmpty(this.$route.query)) {
                this.form.name = this.$route.query.name;
                this.form.description = this.$route.query.description;
            }
        },
        onReset(event) {
            event.preventDefault()
            // Reset our form values
            this.form.name = ''
            this.form.description = ''
        },
        onSubmit(e) {
            e.preventDefault();
            this.searching();
        },
        async handleOk() {
            try {
                await categoryService.delete(this.currentId);
                this.currentId = null
                this.searchList();
            } catch (err) {
                console.log(err)
            }
        }
    }
}
</script>
