<template>
    <div class="flag-language-container">
        <b-button variant="outline-light" @click="changeLang('en')" size="sm">
            <span title="us" class="flag-icon item-flag flag-icon-squared flag-icon-us" :class="{ 'active': getCurrentLang == 'en' }"></span>
        </b-button>

        <b-button variant="outline-light" @click="changeLang('ja')" size="sm">
            <span title="jp" class="flag-icon item-flag flag-icon-squared flag-icon-jp"  :class="{ 'active': getCurrentLang == 'ja' }"></span>
        </b-button>
    </div>
</template>

<script>
import i18n from '../plugins/i18n';
import { mapGetters } from 'vuex';
export default {
    name: 'FlagLanguage',
    computed: {
        ...mapGetters([
            'getCurrentLang'
        ])
    },

    methods: {
        changeLang(lang) {
            this.$store.dispatch('changeLanguage', lang);
            i18n.locale = lang;
        }
    }
}
</script>
<style lang="scss" scoped>
.flag-language-container {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    .item-flag {
        width: 1.4rem;
        height: 1.4rem;
        cursor: pointer;
        border: 1px solid var(--grey400);
        transition: .5s all ease-in-out;
        &.active {
            border-color: var(--blue);
        }

        &:hover {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
    }
}
</style>
