<template>
    <div class="profile-menu">
      <div class="info">
        <p class="initials">Test</p>
        <div class="right">
          <p>{{ getUserProfile.name }}</p>
          <p>{{ getUserProfile.email }}</p>
        </div>
      </div>
      <div class="options">
        <div class="option">
          <router-link class="option" :to="{ name:'Profile' }" @click.native="close">
            <i class="far fa-user icon"></i>
            <span>Profile</span>
          </router-link>
        </div>
        <div class="option" @click="signOut">
           <i class="fas fa-sign-out-alt icon"></i>
            <span>Sign Out</span>
        </div>
      </div>
    </div>
</template>

<script>
import  { mapGetters } from 'vuex';

export default {
  name: "MenuProfile",
  computed: {
    ...mapGetters('Auth', [
      'getUserProfile',
    ]),
  },
  methods: {
    signOut() {
        this.$store.dispatch('Auth/logout');
    },
    close() {
        this.$emit('close-profile');
    }
  }
}
</script>
<style lang="scss" scoped>
  @import "../styles/menu-profile.scss";
</style>
