.form-wrap {
    overflow: hidden;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    width: 90%;
    background-color: var(--whiteFFF);
    @media (min-width: 900px) {
      width: 100%;
    }

    .login-register {
      margin-bottom: 32px;

      .router-link {
        color: var(--black);
      }
    }

    .background {
      display: none;
      flex: 2;
      background-size: cover;
      background-image: url('../../assets/background.png');
      width: 100%;
      height: 100%;
      @media (min-width: 900px) {
        display: initial;
      }
    }
  }
