form {
    padding: 0 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    @media (min-width: 900px) {
      padding: 0 50px;
    }

    h2 {
      text-align: center;
      font-size: 32px;
      color: var(--grey600);
      margin-bottom: 40px;
      @media (min-width: 900px) {
        font-size: 40px;
      }
    }

    .inputs {
      width: 100%;
      max-width: 350px;

      .input {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        input {
          width: 100%;
          border: none;
          background-color: var(--whiteF2);
          padding: 4px 4px 4px 40px;
          height: 50px;

          &:focus {
            outline: none;
          }
        }
        .icon {
          width: 12px;
          position: absolute;
          left: 12px;
          color: var(--iconInput);
        }
      }
    }

    .forgot-password {
      text-decoration: none;
      color: var(--black);
      cursor: pointer;
      font-size: 14px;
      margin: 16px 0 16px;
      border-bottom: 1px solid transparent;
      transition: .5s ease all;

      &:hover {
        border-color: var(--grey600);
      }
    }

    button {
      padding: 10px 20px;
      background: var(--dark);
      border: none;
      transition: .5s ease all;
      margin-top: 10px;
      color: var(--white);
      border-radius: 20px;
      cursor: pointer;
      text-transform: uppercase;

      background: linear-gradient(to left, var(--dark) 50%, var(--whiteFFF) 50%) right;
      background-size: 200%;
      transition: .5s ease-out;

      &:hover {
        background-position: left;
        color: var(--dark);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        font-weight: bold;
      }
    }

    .angle {
      display: none;
      position: absolute;
      background-color: var(--whiteFFF);
      transform: rotateZ(3deg);
      width: 60px;
      right: -30px;
      height: 101%;
      @media (min-width: 900px) {
        display: initial;
      }
    }
    .error {
      text-align: left;
      margin: 5px 0;
      color: var(--danger);
      font-size: 12px;
    }
  }
