<template>
    <div class="form-wrap">
        <router-view></router-view>

        <div class="background"></div>
    </div>
</template>

<script>
export default {
    name: 'AuthLayout'
}
</script>

<style lang="scss" scoped>
    @import '../../styles/views/auth/auth-layout.scss';
</style>
