<template>
    <form class="login" @submit.prevent="signIn">
        <p class="login-register">
            {{ $t("auth.label_remind_register") }}
            <router-link class="router-link" :to="{ name: 'Register' }">{{ $t("auth.label_register") }}</router-link>
        </p>
        <h2>{{ $t('auth.label_login') }}</h2>
        <div class="inputs">
            <div class="input">
                <input type="text" placeholder="Email" v-model="email" />
                <i class="far fa-envelope icon"></i>
            </div>
            <div v-show="error && validateFail.email" class="error">{{ validateFail.email }}</div>

            <div class="input">
                <input type="password" placeholder="Password" v-model="password" @key.enter="signIn"/>
                <i class="fas fa-key icon"></i>
            </div>
            <div v-show="error && validateFail.password" class="error">{{ validateFail.password }}</div>
        </div>
        <div v-show="error && errorMessage" class="error">{{ errorMessage }}</div>
        <router-link class="forgot-password" to="#">{{ $t('auth.label_forgot_password') }}</router-link>
        <button @click.prevent="signIn">
            <span>{{ $t('auth.label_sign_in') }}</span>
        </button>
        <div class="angle"></div>
    </form>
</template>

<script>
export default {
    name: 'Login',
    data() {
        return {
            email: "",
            password: "",
            error: null,
            validateFail: {},
            errorMessage: ''
        }
    },
    methods: {
        async signIn() {
            this.validateFail = {};
            this.errorMessage = '';
            this.error = false;
            try {
                await this.$store.dispatch('Auth/login', { email: this.email, password: this.password });
            } catch (err) {
                this.error = true;
                if (err.validateFail) {
                    this.validateFail = err.data;
                    return;
                }
                this.errorMessage = err.data;
            }
        }
    }
}
</script>
<style lang="scss" scoped>
    @import '../../styles/views/auth/login.scss';
</style>
