<template>
  <form class="register">
    <p class="login-register">
      Already have an account?
      <router-link class="router-link" :to="{ name: 'Login' }">Login</router-link>
    </p>
    <h2>Create a new account</h2>
    <div class="inputs">
        <div class="input">
            <input type="text" placeholder="Name" v-model="account.name" />
            <i class="fas fa-user icon"></i>
        </div>
        <div v-show="error && validateFail.name" class="error">{{ validateFail.name }}</div>

        <div class="input">
            <input type="text" placeholder="Email" v-model="account.email" />
            <i class="far fa-envelope icon"></i>
        </div>
        <div v-show="error && validateFail.email" class="error">{{ validateFail.email }}</div>

        <div class="input">
            <input type="password" placeholder="Password" v-model="account.password" />
            <i class="fas fa-key icon"></i>
        </div>
        <div v-show="error && validateFail.password" class="error">{{ validateFail.password }}</div>
    </div>
    <button @click.prevent="register">
        <span>Sign up</span>
    </button>
    <div class="angle"></div>
  </form>
</template>
<script>
import AuthService from '../../services/auth.service';
export default {
  name: 'Register',
  data() {
    return {
      account: {
        name: '',
        email: '',
        password: '',
      },
      validateFail: {},

      error: null
    }
  },
  methods: {
    async register() {
        //
        this.error = false;
        this.validateFail = {};
        try {
            await this.$store.dispatch('Auth/register', this.account);
        } catch (err) {
            // handle validation fail
            if (err.validateFail) {
                this.error = true;
                this.validateFail = err.data;
            }
        }
    },
  }
}
</script>
<style lang="scss" scoped>
    @import '../../styles/views/auth/login.scss';
</style>
