header {

    .open-mobile-menu {
        font-size: 20px;
    }

    .mobile-nav {
        // padding: 20px;
        width: auto;
        // max-width: 250px;
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        background-color: var(--grey600);
        top: 0;
        left: 0;
        .main-sidebar {
            margin-left: 0;
        }
    }

    .profile {
        padding: 3px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: var(--white);
        background-color: var(--dark);

        span {
          pointer-events: none;
        }
    }
}

