<template>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-left" v-if="this.notEmptyListRoute">
                    <li class="breadcrumb-item" :class="{ 'active': item.active }" v-for="(item, index) in listRoute" :key="index">
                        <template v-if="item.active">
                            <router-link :to="{ path: item.path }">{{ item.name }}</router-link>
                        </template>
                        <template v-else>
                            <span>{{ item.name }}</span>
                        </template>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash';
export default {
    name: 'Breadcrumb',
    computed: {
        notEmptyListRoute() {
            return this.listRoute.length > 0
        }
    },
    watch: {
        $route() {
            this.initial();
        }
    },
    data() {
        return {
            listRoute: []
        }
    },
    mounted() {
        this.initial();
    },
    methods: {
        initial() {
            let pathName = window.location.pathname; // exp: /admin/product/list
            let listRouting = pathName.split('/').filter(i => i);
            let count = listRouting.length;
            this.listRoute = [];
            this.listRoute = listRouting.map((item, index) => ({
                path: `/${item}`,
                name: _.upperFirst(item),
                active: (index != (count - 1)) ? true : false
            }));
        }
    }
}
</script>

<style lang="scss" scoped>
</style>
