<template>
    <b-modal
        id="modalConfirm"
        centered
        :header-bg-variant="color"
        :title="$t('panel.label_confirm_title')"
        v-on="$listeners"
        >
        <template #default>
            <p>{{ confirmText }}</p>


        </template>
        <template #modal-footer="{ ok,cancel }">
            <div class="d-flex w-100 justify-content-end" style="gap: 5px;">
                <b-button :variant="color" @click="ok()">
                    {{  textButtonConfirm }}
                </b-button>
                <b-button @click="cancel">
                    {{ $t("panel.label_cancel_btn_modal") }}
                </b-button>
            </div>
        </template>
    </b-modal>
</template>

<script>
import _ from 'lodash'
export default {
    name: 'CoreModal',
    props: {
        remove: {
            type: Boolean,
            default: false
        },
    },
    computed: {
        color() {
            return this.remove ? 'danger' : 'primary';
        },
        confirmText() {
            return this.remove ? this.$t('panel.label_confirm_text_remove') : this.$t('panel.label_confirm_text_save');
        },
        textButtonConfirm() {
            return this.remove ? this.$t('panel.label_delete_btn_modal') : 'OK';
        }
    },
    methods: {
        ok() {
            console.log('emit')
            this.$emit('confirm-process');
        },
        closeModal() {
            this.$emit('update:show', false);
        },
    }
}
</script>

<style>

</style>
